# Pandas Exercises
source: https://www.machinelearningplus.com/python/101-pandas-exercises-python/

---

#### 1. How to import pandas and check the version?

In [1]:
import pandas as pd
pd.__version__

'1.3.4'

In [3]:
pd.show_versions(as_json=False)   # Provide useful information, important for bug reports.

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.7.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.3.4
numpy            : 1.21.5
pytz             : 2018.7
dateutil         : 2.7.5
pip              : 18.1
setuptools       : 46.1.3
Cython           : 0.29.2
pytest           : 4.0.2
hypothesis       : None
sphinx           : 1.8.2
blosc            : None
feather          : None
xlsxwriter       : 1.1.2
lxml.etree       : 4.2.5
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.10
IPython          : 7.2.0
pandas_datareader: None
bs4              : 4.6.3
bottleneck       : 1.2.1
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.0.2
numexpr          : 2.8.0
odfpy            : None
openpyxl         : 2.5.12
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : 1.2.15
tables           : 3.4.4
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
numba            : 0.41.0

#### 2. How to create a series from a list, numpy array and dict?

In [10]:
import numpy as np
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [15]:
# pd.Series(): creates one-dimensional ndarray with axis labels
ser1 = pd.Series(mylist)
ser1.head(3)

0    a
1    b
2    c
dtype: object

In [16]:
ser2 = pd.Series(myarr)
ser2.head(3)

0    0
1    1
2    2
dtype: int32

In [17]:
ser3 = pd.Series(mydict)   # puts keys (=mylist) as index and values (=myarr) as values
ser3.head(3)

a    0
b    1
c    2
dtype: int32

#### 3. How to convert the index of a series into a column of a dataframe?

In [32]:
df = ser3.reset_index()  # convert index into column > automatically makes a dataframe
df.head(3)

  index  0
0     a  0
1     b  1
2     c  2

In [38]:
df2 = ser3.to_frame().reset_index()
df.equals(df2)

True

In [31]:
ser3.to_frame().head(3)  # only convert series to dataframe (and keeps the index as an index)

   0
a  0
b  1
c  2

#### 4. How to combine many series to form a dataframe?

In [49]:
# solution 1:
df = pd.concat([ser1, ser2], axis=1)
df.head(3)

   0  1
0  a  0
1  b  1
2  c  2

In [50]:
# solution 2:
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
df.head(3)

  col1  col2
0    a     0
1    b     1
2    c     2

#### 5a. How to assign name to the series?

In [59]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser.head(3)

0    a
1    b
2    c
Name: alphabets, dtype: object

#### 5b. How to assign name to the series’ index?

In [62]:
ser.index.name = 'idx'
ser.head(3)

idx
0    a
1    b
2    c
Name: alphabets, dtype: object

#### 6. How to get the items of series A not present in series B?

In [70]:
# From ser1 remove items present in ser2.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [71]:
ser1.isin(ser2)   # Whether elements in Series are contained in `values`.

0    False
1    False
2    False
3     True
4     True
dtype: bool

#### 7. How to get the items not common to both series A and series B?

In [112]:
# Get all items of ser1 and ser2 not common to both. 
# KC solution:
ser12 = pd.concat([ser1, ser2])
ser12[~ser12.isin(ser1) + ~ser12.isin(ser2)] # all items that are not in ser1 (but ser2) and not in ser2 (but ser1)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [96]:
# alternative solution with NumPy:
ser_u = pd.Series(np.union1d(ser1, ser2))       # union (4-5)
ser_i = pd.Series(np.intersect1d(ser1, ser2))   # intersect (1-8) 

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [94]:
np.union1d(ser1, ser2)

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [95]:
np.intersect1d(ser1, ser2)

array([4, 5], dtype=int64)

#### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [135]:
state = np.random.RandomState(100)
ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 0.47007443,  7.25866004,  9.41580208, 13.38174096, 24.50544687])

In [136]:
ser.describe()[3:]

min     0.470074
25%     7.258660
50%     9.415802
75%    13.381741
max    24.505447
dtype: float64

#### 9. How to get frequency counts of unique items of a series?

In [165]:
# Calculte the frequency counts of each unique value in ser.
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

d    8
g    7
a    5
h    3
b    2
f    2
e    2
c    1
dtype: int64

In [166]:
np.take(a=['a','b','c'], indices=np.random.randint(3, size=5)) # take elements from an array a along an axis

array(['b', 'b', 'c', 'a', 'a'], dtype='<U1')

#### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [193]:
# From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
np.random.seed(42) #RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     3
1     4
2     1
3     3
4     3
5     4
6     1
7     1
8     3
9     2
10    3
11    3
dtype: int32

In [191]:
# top 2 most frequent values
ser.value_counts()[:2].index

Int64Index([3, 1], dtype='int64')

In [192]:
ser[~ser.isin(ser.value_counts()[:2].index)] = 'Other'
ser

0         3
1     Other
2         1
3         3
4         3
5     Other
6         1
7         1
8         3
9     Other
10        3
11        3
dtype: object

#### 11. How to bin a numeric series to 10 groups of equal size?

In [203]:
# Bin the series ser into 10 equal deciles and replace the values with the bin name.
ser = pd.Series(np.random.random(20))
pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1.],     # Quantile-based discretization function.
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    2nd
1    5th
2    1st
3    9th
4    4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [212]:
[str(n) + 'th' for n in list(range(4,11))]

['4th', '5th', '6th', '7th', '8th', '9th', '10th']

#### 12. How to convert a numpy array to a dataframe of given shape?

In [215]:
# Reshape the series ser into a dataframe with 7 rows and 5 columns.
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     3
1     7
2     6
3     8
4     9
5     5
6     1
7     3
8     8
9     6
10    8
11    9
12    4
13    1
14    1
15    4
16    7
17    2
18    3
19    1
20    5
21    1
22    8
23    1
24    1
25    2
26    2
27    6
28    7
29    5
30    1
31    1
32    3
33    2
34    5
dtype: int32

---
#18. ser.str.title()
#19. ser.str.len()
#23. pd.to_datetime(ser) + pd.DateOffset(days=3)
#24. ser.loc[ser.str.lower().map(lambda x: len(set(x).intersection(set('aeiou'))))>1]
#25. pd.Series(emails.reindex(emails).filter(regex=pattern).index)
#28. ser.loc[(ser.diff()>0)&(ser.diff(-1)>0)].index.to_list()
#29. my_str.replace(' ', Counter(my_str.replace(' ', '')).most_common()[-1][0])
#33. pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', skiprows=lambda x: x%50!=0)
#39. df.rename(columns=dict(zip(df.columns, df.columns.str.replace('.', '_')))).rename(columns = {'Type':'CarType'})
#41. df.isnull().sum().idxmax()
#51. df['a'].sort_values(ascending=True).index[5]
#52. ser.loc[ser > ser.mean()].index[1]
#53. df.loc[df.sum(axis=1)>100].iloc[-2:]
#57. df.set_index(df.index[::-1]).sort_index()
#59. df.max(axis=1).argmax()
#63. df['penultimate'] = df.apply(lambda x: sorted(set(x))[-2], axis=1)
#66. np.fill_diagonal(df.to_numpy(), 0)